.contenedor {
    width: 60%;
    max-width:1224px;
    margin: 20px auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 0.5fr);
    grid-template-areas: "imagen datalibro shop"
        "detalles detalles detalles";
}

.contenedor>div,
.contenedor .imagen,
.contenedor .datalibro,
.contenedor .shop,
.contenedor .detalles,
.contenedor .redes,
.contenedor .footer {
    padding: 15px;
    border-radius: 4px;
}

.contenedor .imagen {
    background: rgb(249, 249, 249);
    grid-area: imagen;
}

.contenedor .datalibro {
    background: #ffffff;
    grid-area: datalibro;
}

.contenedor .shop {
    background: #ffffff;
    grid-area: shop;
}

.contenedor .redes {
    background: #ffffff;
    grid-area: redes;
}

.contenedor .detalles {
    background: #ffffff;
    grid-area: detalles;
}

.redes{
    list-style: none;
    text-align: left;
margin-left: 3em;
}
.redes li {
    display: inline;
    
}
.redes li img{
    width: 18%;
}
.imagen{
    border: 5px;
    border-color: black;
}
.portada{
    width: 90%;
}
.listadetalles{
padding-left: 0px;
}
.dettitulo{
    font-weight: bold;
    font-size: 16px;
}
.librodet{
    margin-bottom: .9em;
}
@media screen and (max-width: 768px) {
    .contenedor {
        grid-template-areas: "imagen datalibro shop"
        "detalles detalles detalles";
    }
}

@media screen and (max-width: 450px) {
    .contenedor {
        grid-template-areas: "imagen datalibro shop"
            "detalles detalles detalles";
    }
}
@media only screen and (min-width: 990px) and (max-width: 2650px){
.md-datos ul {
    list-style:none;
    text-align:left;

}
}
.md-datos #idLibroprecio {
    text-align: left;
    padding-left: 0px;

}